body{
  background-image:url(../img/fondo.jpg);
  background-size: 100vw 100vh;
  background-attachment:fixed;
  font-family: monospace;
  margin: 0;
}

h1
{
  font-family: fantasy, sans-serif;
  letter-spacing: 1.5px;
}

h2, h3, h4, h5, h6
{
  font-family: cursive, sans-serif;
}

.contenedor
{
  margin: auto;
  width: 98%;
}

/*------------Estilos del header------------*/
.encabezado
{
  height: 60px;
}

.encabezado .contenedor
{
  display: flex;
  justify-content: space-between;
}

.nombreTribu, .icon-menu
{
  margin: 5px;
  margin-top:10px;
  color:#FFF;
}

.nombreTribu
{
  font-size: 180%;
}

.icon-menu
{
  display: block;
  width: 40px;
  height: 40px;
  font-size: 30px;
  background: #000000;
  text-align: center;
  padding-top: 5px;
  border-radius: 5px;
  margin-left: auto;
  cursor: pointer;
}

/*------------Estilos del menu------------*/
.navegador
{
  position: absolute;
  top: 65px;
  left: -100%;
  width: 100%;
  transition: all 0.4s;
}

.menu, .submenu
{
  list-style: none;
  padding: 0;
  margin: 0;
}

.submenu
{
  padding-left: 20px;
}

.menu-link
{
  display: block;
  padding: 15px;
  background: #000000;
  color: #FFF;
  text-decoration: none;
}

.subMenu-item
{
  background: #000000;
  color: #FFF;
}

.menu-link:hover
{
  background: #FFF;
  color:#000000;
}

.select
{
  background: #D8D8D8;
  color:#000000;
}

.mostrar
{
  left: 0;
}

/*------------Estilos del contenido------------*/
.contenido
{
  margin: auto;
  margin-top: 15px;
}

/*------------Estilos pie de pagina------------*/
.pie-de-pagina {
  background-color: #424242;
  color: #FFF;
  padding: 10px;
  text-align: center;
}

.pie-de-pagina .social [class^="icon-"] {
  width: 30px;
  height: 30px;
  display: inline-block;
  color: #000000;
  text-decoration: none;
  font-size: 30px;
  padding: 10px;
  background: white;
  border-radius: 50%;
}


/*------------Estilos renponsive------------*/
@media(min-width: 1024px){
  .contenedor
  {
    width: 1000px;
  }
  
  .banner-titulo
  {
    margin-top: -250px;
    font-size: 40px;
    width: auto;
  }
  
  .banner-texto
  {
    font-size: 23px;
  }
  
  .navegador
  {
    position: static;
    width: auto;
  }
  
  .menu
  {
    display: flex;
  }
  
  .icon-menu
  {
    display: none;
  }
  
  .menu-link
  {
    background: none;
    font-size: 18px;
  }
  
  .menu li ul
  {
    display: none;
    position: absolute;
    min-width: 120px;
  }
  
  .menu-item:hover > .submenu
  {
    display: block;
  }

  .select
  {
    background: #D8D8D8;
    color:#000000;
  }  

  .contenido
  {
    width: 73%;
  }
}